doctype html
html(lang="en")
  head
    title Trading App
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="css/style.css" rel="stylesheet")
  body
    .container

      .row
        .col-xs-11.userSide
          .row.text-center
            h1.text-center Trading Floor
            h2 Your Items
          .row.text-center
            button(type="button" data-toggle="modal" data-target="#addItemModal").btn.btn-success.btn-sm.addItem Add Item

            #addItemModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addItemModalLabel')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                    h4#addItemModalLabel.modal-title Add an item to your inventory
                  .modal-body
                    .row.text-center
                      label(for="newItemName") Item name:
                      br
                      input(type="text").newItemName
                      br
                      label(for="newItemDescription") Item description:
                      br
                      textarea(name="newItemDescription", cols="30", rows="10").newItemDescription
                      br
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Nevermind
                    button.btn.btn-primary.saveNewItem(type='button') Save item

          .row
            table.table.table-bordered.table-responsive.userItems
              thead
                tr
                  th Available
                  th Item Name
                  th Item Description
                  th Item I.D.
                  th Delete Item
              tbody.userItemsTbody
                tr
                  td
                    input(type="checkbox" name="available" class="checkbox")
                  td Sample Item
                  td REMOVE this dummy data before cloning or any such thing.
                  td 607986bg9834nhd0mem2
                  td
                    button.btn.btn-danger.btn-xs.deleteItem Delete Item
                tr
                  td
                    input(type="checkbox" name="available" class="checkbox")
                  td Another Sample Item
                  td Leave tbody empty in Jade for dynamic generation of table rows
                  td 604308yfg08hg5nlksdfjw90
                  td
                    button.btn.btn-danger.btn-xs.deleteItem Delete Item
          
          .row.text-center.pendingTradesRow
            h2 Your Pending Trades
          .row
            table.table.table-bordered.table-responsive.pendingTrades
              thead
                tr
                  th From
                  th Item Name
                  th Item Description
                  th Item I.D.
                  th Accept
                  th Decline
              tbody.pendingTradesTbody
                tr
                  td SomeUserName
                  td Sample Item
                  td REMOVE this dummy data before cloning or any such thing.
                  td 607986bg9834nhd0mem2
                  td
                    button.btn.btn-success.btn-xs.acceptTrade Accept
                  td
                    button.btn.btn-danger.btn-xs.declineTrade Decline
                tr
                  td ChickenButt64
                  td Yet Another Sample Item
                  td Leave tbody empty for dynamic creation of table rows
                  td 457n34n90ermg0mw805hksgd
                  td
                    button.btn.btn-success.btn-xs.acceptTrade Accept
                  td
                    button.btn.btn-danger.btn-xs.declineTrade Decline
        .col-xs-11.tradingSide
          .row.text-center
            h2.tradingHeader Items available for trade
          .row
            table.table.table-bordered.table-responsive.availableForTrade
              thead
                tr
                  th Owner
                  th Item Name
                  th Item Description
                  th Item I.D.
                  th Propose Trade
              tbody.availableForTradeTbody
                tr
                  td SomeUserName
                  td Sample Item
                  td REMOVE this dummy data before cloning or any such thing.
                  td 607986bg9834nhd0mem2
                  td
                    button(type="button" data-toggle="modal" data-target="#proposeTradeModal").btn.btn-success.btn-xs.proposeTrade Propose Trade
                tr
                  td ChickenButt64
                  td Yet Another Sample Item
                  td Leave tbody empty for dynamic creation of table rows
                  td 457n34n90ermg0mw805hksgd
                  td
                    button(type="button" data-toggle="modal" data-target="#proposeTradeModal").btn.btn-success.btn-xs.proposeTrade Propose Trade
          
          #proposeTradeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='proposeTradeModalLabel')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                    h4#proposeTradeModalLabel.modal-title Propose a trade
                  .modal-body
                    .row.text-center
                      h3 Which of your items would you like to trade for this?
                      hr
                      input(type="radio" name="itemRadio" class="itemRadio")
                      label(for="itemRadio" class="itemNameRadioLabel") Sample Item Name
                      label(for="itemRadio" class="itemDescriptionRadioLabel") Description that is a bit long so that I can see what happens when it needs to go to a new line in the modal popup
                      hr
                      input(type="radio" name="itemRadio" class="itemRadio")
                      label(for="itemRadio" class="itemRadioLabel") Sample
                      label(for="itemRadio" class="itemDescriptionRadioLabel") Description that is a bit long so that I can see what happens when it needs to go to a new line in the modal popup
                      hr
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Nevermind
                    button.btn.btn-primary.saveNewItem(type='button') Send Proposal   

            
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='js/trading.js')
    
