.container {
  width: 100%;
}

.header {
  margin-bottom: 25px;
  margin-top: 15px;
}

.registerForm, .loginForm {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}

label, input {
  margin: 5px;
}

button {
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
}

p {
  margin-top: 15px;
  margin-left: 5px;
  color: lightgray;
}

.feedback {
  color: #343434;
  margin-top: 15px;  
}

.feedback p {
  color: #343434;
}

/* USER SIDE */

.userSide {
  border: 1px solid lightgray;
  margin-left: 50px;
}

.addItem {
  margin-bottom: 25px;
}

.userItems {
  margin-bottom: 50px;
}

